/**
* DESKTOP NAVIGATION STYLES
*/
.app-navbar {
  .desktop-nav {
    // Navigation links
    a {
      border-radius: 0.4rem;
      text-decoration: none;
      color: var(--bs-white);

      // Styles of active nav link
      &.active {
        background-color: var(--bs-senary);

        &:hover {
          color: var(--bs-white);
        }
      }

      &:hover {
        color: var(--bs-tertiary);
      }
    }

    // User dropdown menu
    .user-dropdown-menu {
      .user-dropdown-menu-item {
        a {
          // Styles of dropdown nav link
          p {
            color: var(--bs-white);
          }

          // Styles of hovered dropdown nav link
          &:hover p {
            color: var(--bs-primary);
            background-color:  var(--bs-tertiary);
          }

          // Styles of active dropdown nav link
          &.active p {
            background-color: var(--bs-primary);

            &:hover {
              color: var(--bs-white);
            }
          }
        }

        // Prevents bootstrap from overriding style
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

/**
 * MOBILE NAVIGATION OFFCANVAS STYLES
 */
.offcanvas {
  max-width: 15rem !important;

  .nav-item {
    // Navigation links
    a {
      &.active p {
        background-color: var(--bs-senary);
        color: var(--bs-text-white);
      }

      p {
        padding: 0.25rem 0.75rem;
        color: var(--bs-primary);

        &:hover {
          color: var(--bs-quaternary);
        }
      }
    }
  }
}
