.view-services {
  .service-card {
    min-width: 14rem;
    width: 100%;

    &.disabled-card {
      opacity: 0.9;
      position: relative;
      cursor: not-allowed;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 0.2;
      }
    }

    &-img {
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain;

      &-container {
        max-width: 7rem;
        display: flex;
      }
    }

    .service-status-indicator {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}
